/***********/
/* CASSETTE */
/***********/

.wrapper-cassette {
    position: absolute;
    /* left: 50%; */
    /* top: calc(50% + 3em); */
    /* transform: translate(-50%, -50%); */
    display: grid;
    justify-items: center;
}

.wrapper-cassette .container-cassette {
    --height-lichaam: 16em;
    --width-lichaam: 28em;
    --width-border: .1em;

    position: relative;

    width: var(--width-lichaam);
    height: calc(var(--height-lichaam) + var(--height-been));

    z-index: 100;
}

.wrapper-cassette .lichaam {
    background-color: var(--accent-color-1);
    border: solid var(--width-border) var(--border-color);
    border-radius: .5em;
    width: var(--width-lichaam);
    height: var(--height-lichaam);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-cassette .schroeven {
    height: var(--height-lichaam);
    width: var(--width-lichaam);
    position: absolute;
    z-index: 200;
}

.wrapper-cassette .schroeven li {
    width: 1em;
    aspect-ratio: 1/1;
    border-radius: 2em;
    background-color: var(--accent-color-2);
    border: solid var(--width-border) var(--border-color);
    list-style: none;
    position: absolute;
    margin: .4em;
}

.wrapper-cassette .schroeven li:nth-of-type(1) {
    top: 0;
    left: 0;
}

.wrapper-cassette .schroeven li:nth-of-type(2) {
    right: 0;
    top: 0;
}

.wrapper-cassette .schroeven li:nth-of-type(3) {
    bottom: 0;
    right: 0;
}

.wrapper-cassette .schroeven li:nth-of-type(4) {
    left: 0;
    bottom: 0;
}

.wrapper-cassette .buiten-lichaam-1 {

    padding: 1em;
    margin: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--accent-color-2);

    border-radius: 0 0 1em 1em;

    box-shadow: inset 0 0 0 .15em var(--border-color);

    background-image:
        linear-gradient(135deg,
            var(--border-color) 1.5em,
            #0000 1.5em),
        linear-gradient(-135deg,
            var(--border-color) 1.5em,
            #0000 1.5em);

    clip-path:
        polygon(1.75em 0,
            calc(100% - 1.75em) 0,
            100% 1.75em,
            100% 100%,
            0% 100%,
            0 1.75em,
            1.75em 0);
}

.wrapper-cassette hr {
    width: 14em;
    margin: .6em;
    border: solid .075em var(--border-color);
}

.wrapper-cassette .binnen-lichaam {
    width: 20em;
    height: 6em;
    background-color: var(--accent-color-4);
    border-radius: 1em;
    border: solid var(--width-border) var(--border-color);
}

.wrapper-cassette .buiten-lichaam-2 {
    background-color: var(--accent-color-2);
    height: 25%;
    margin: .5em 1em;
    border-radius: .5em .5em 2.5em 2.5em;
    border: solid var(--width-border) var(--border-color);
}

.wrapper-cassette .ogen {
    top: 1em;
    z-index: 150;
    display: flex;
    justify-content: center;
    position: absolute;
    width: var(--width-lichaam);
}

.wrapper-cassette .oog {
    width: 3.4em;
    height: 6em;
    border-radius: 50%;
    border: solid var(--width-border) var(--border-color);
    background-color: var(--text-color-1);
    background-image:
        radial-gradient(transparent 40%,
            white 40%),
        conic-gradient(from -90deg at 60% 40%,
            black 92%,
            transparent 92%);
}

.wrapper-cassette .been {
    background-color: var(--accent-color-4);
    height: 6em;
    width: 1.6em;
    position: absolute;
    border: solid var(--width-border) var(--border-color);
    display: flex;
    top: calc(100% - var(--width-border));
    justify-content: center;
    align-items: flex-end;
}

.wrapper-cassette .been.links {
    left: calc(55% - var(--width-border));
}

.wrapper-cassette .been.rechts {
    right: calc(55% - var(--width-border));
}

.wrapper-cassette .sok {
    width: 2em;
    height: 1em;
    background-color: var(--accent-color-1);
    border: solid var(--width-border) var(--border-color);
    border-radius: .2em;
    position: absolute;
}

.wrapper-cassette .schoen {
    background-color: var(--accent-color-2);
    width: 5em;
    height: 1.4em;
    position: absolute;
    border-radius: .2em;
    border: solid var(--width-border) var(--border-color);
    bottom: -1.4em;
    display: flex;
    justify-content: center;
}

.wrapper-cassette .schoen.links {
    left: 0;
}

.wrapper-cassette .schoen.rechts {
    right: 0;
}

.wrapper-cassette .box {
    width: 2em;
    height: 1em;
    background-color: var(--accent-color-2);
    position: absolute;
    border-top: solid var(--width-border) var(--border-color);
    border-right: solid var(--width-border) var(--border-color);
    border-left: solid var(--width-border) var(--border-color);
    border-radius: 1em 1em 0 0;
    top: -1em;
}

.wrapper-cassette .box.links {
    right: -0.05em;
}

.wrapper-cassette .box.rechts {
    left: -0.05em;
}

.wrapper-cassette .zool {
    width: 4.6em;
    height: .6em;
    background-color: var(--accent-color-1);
    border: solid var(--width-border) var(--border-color);
    border-radius: .2em;
    position: absolute;
    bottom: -.6em;
}

.wrapper-cassette #derde-titel {
    color: var(--text-color-1);
    font-family: 'Cartoonist';
    font-size: 6em;
    position: absolute;
    top: -1.4em;
}