/**********/
/* FOOTER */
/**********/

footer {
    height: 6em;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--accent-color-1);
    border: none;
    font-size: 1em;
}