/**********/
/* LAYOUT */
/**********/

body {
    background-color: var(--accent-color-1);
}

body nav ul {
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body nav ul li {
    width: 4em;
    aspect-ratio: 1/1;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
    transition: 0.4s;
}

body nav ul li:hover {
    transform: scale(1.1);
}

body nav ul li:nth-of-type(1) {
    background-color: var(--accent-color-4);
}

body nav ul li:nth-of-type(2) {
    background-color: var(--accent-color-3);
}

body nav ul li:nth-of-type(3) {
    background-color: var(--accent-color-2);
}

body nav ul li:nth-of-type(4) {
    background-color: var(--accent-color-1);
    border: solid .2em var(--line-color-1);
}

body nav ul li a {
    font-family: 'Cartoonist';
    color: var(--text-color-1);
    text-decoration: none;
    font-size: 1em;
}

/**************/
/* MP3 PLAYER */
/**************/

.container-mp3-player {
    --hight-been: 1.4em;
    --hight-lichaam: 8em;
    --width-lichaam: 30em;
    --width-border: .1em;

    width: var(--width-lichaam);
    height: calc(var(--hight-lichaam) + var(--hight-been) - var(--width-border));
    position: absolute;
    left: calc(50% - 15em);
    bottom: calc(50% - 4em);
}

.lichaam {
    background-color: var(--accent-color-2);
    border: solid var(--width-border) var(--border-color);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--width-lichaam);
    height: var(--hight-lichaam);
}

.binnen-lichaam-1 {
    width: 18em;
    height: 5em;
    background-color: var(--accent-color-4);
    border: solid var(--width-border) var(--border-color);
    border-radius: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.binnen-lichaam-2 {
    width: 11em;
    height: 3em;
    background-color: var(--accent-color-3);
    border: solid var(--width-border) var(--border-color);
    border-radius: .5em;
}

.been {
    width: 19em;
    height: var(--hight-been);
    background-color: var(--accent-color-3);
    border: solid var(--width-border) var(--border-color);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.been.links {
    right: calc(50% - var(--width-border));
}

.been.rechts {
    left: calc(50% - var(--width-border));
}

.sok {
    width: 1em;
    height: 2em;
    background-color: var(--accent-color-4);
    border: solid var(--width-border) var(--border-color);
    border-radius: .2em;
    display: flex;
    align-items: end;
    position: absolute;
}

.sok.links {
    left: -1em;
}

.sok.rechts {
    right: -1em;
}

.schoen {
    background-color: var(--accent-color-2);
    position: absolute;
    width: 1.4em;
    height: 5em;
    position: absolute;
    border-radius: .2em;
    border: solid var(--width-border) var(--border-color);
    display: flex;
    align-items: center;
}

.schoen.links {
    left: -1.4em;
}

.schoen.rechts {
    right: -1.4em;
}

.box {
    width: 1em;
    height: 2em;
    background-color: var(--accent-color-2);
    position: absolute;
}

.box.links {
    left: 1.2em;
    top: -.05em;
    border-top: solid var(--width-border) var(--border-color);
    border-bottom: solid var(--width-border) var(--border-color);
    border-right: solid var(--width-border) var(--border-color);
    border-radius: 0 1em 1em 0;
}

.box.rechts {
    right: 1.2em;
    top: -.05em;
    border-top: solid var(--width-border) var(--border-color);
    border-bottom: solid var(--width-border) var(--border-color);
    border-left: solid var(--width-border) var(--border-color);
    border-radius: 1em 0 0 1em;
}

.zool {
    width: .6em;
    height: 4.6em;
    background-color: var(--accent-color-4);
    border: solid var(--width-border) var(--border-color);
    border-radius: .2em;
    position: absolute;
}

.zool.links {
    left: -.6em;
}

.zool.rechts {
    right: -.6em;
}

.ogen {
    top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -1.5em;
}

.oog {
width: 3.4em;
height: 6em;
border-radius: 50%;
border: solid var(--width-border) var(--border-color);
background-color: var(--text-color-1);
background-image: 
radial-gradient(
    transparent 40%, 
    white 40%
    ), 
conic-gradient(
    from -90deg at 60% 40%, 
    black 92%, 
    transparent 92%
    );
}

.schaduw {
    width: 48em;
    height: 16em;
    border-radius: 50%;
    background-color: var(--shadow-color-1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.zij-knop {
    width: 1em;
    aspect-ratio: 1/1;
    background-color: var(--accent-color-3);
    right: -1em;
    border-radius: 0 1em 1em 0;;
    border: solid var(--width-border) var(--border-color);
    position: absolute;
}

.boven-knop {
    width: 1.6em;
    height: 1.2em;
    background-color: var(--accent-color-3);
    top: -1.2em;
    right: 4em;
    border-radius: 1em 1em 0 0;;
    border: solid var(--width-border) var(--border-color);
    position: absolute;
}

