/*********/
/* RESET */
/*********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    cursor: pointer;
}

/*********/
/* FONTS */
/*********/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Cartoonist';
    src: url(../fonts/cartoonist.woff);
}

/***********/
/* KLEUREN */
/***********/

:root {
    --accent-color-1: rgb(255 175 213);
    --line-color-1: rgb(198 128 161);
    --shadow-color-1: rgb(241 156 196);

    --accent-color-2: rgb(255 81 44);
    --line-color-2: rgb(192 50 14);

    --accent-color-3: rgb(125 40 31);
    --line-color-3: rgb(94 29 22);

    --accent-color-4: rgb(255 220 187);
    --line-color-4: rgb(182 140 93);

    --text-color-1: rgb(255,255,255);

    --border-color: rgb(0,0,0);
}