/**********/
/* LAYOUT */
/**********/

body {
    background-color: var(--accent-color-4);
}

body nav ul {
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body nav ul li {
    width: 4em;
    aspect-ratio: 1/1;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
    transition: 0.4s;
}

body nav ul li:hover {
    transform: scale(1.1);
}

body nav ul li:nth-of-type(1) {
    background-color: var(--accent-color-4);
    border: solid .2em var(--line-color-4);
}

body nav ul li:nth-of-type(2) {
    background-color: var(--accent-color-3);
}

body nav ul li:nth-of-type(3) {
    background-color: var(--accent-color-2);
}

body nav ul li:nth-of-type(4) {
    background-color: var(--accent-color-1);
}

body nav ul li a {
    font-family: 'Cartoonist';
    color: var(--text-color-1);
    text-decoration: none;
    font-size: 1em;
}